﻿@inject ExploreCalifornia.Models.FormattingService Format
@model ExploreCalifornia.Models.Post

<article class="blog-post">
    <h1>
        @Html.ActionLink(Model.Title, "Post", "Blog",
          new { year = Model.Posted.Year, month = Model.Posted.Month, key = Model.Key }
      )
    </h1>
    <div class="details">
        Posted <span>@Format.AsReadableDate(Model.Posted)</span> by <span>@Model.Author</span>
    </div>
    <div class="content">
        @Model.Body
    </div>
</article>

@*<article class="blog-post">
    <h1>@ViewBag.TItle</h1>
    <div class="details">
        Posted <span>@ViewBag.Posted</span> by <span>@ViewBag.Author</span>
    </div>
    <div class="content">
        @ViewBag.Body
    </div>
</article>*@
